@model BookATableWeb.ViewModels.RestaurantsListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Restaurants</h2>
@Html.ActionLink("Create", "Create", "Restaurants")
<table class="table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Capacity</th>
            <th>OpenHour</th>
            <th>CloseHour</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model.Restaurants)
        {
            if (restaurant == null)
            {


            }
            else {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Address</td>
                <td>@restaurant.Email</td>
                <td>@restaurant.Phone</td>
                <td>@restaurant.Capacity</td>
                <td>@restaurant.OpenHour.ToShortTimeString()</td>
                <td>@restaurant.CloseHour.ToShortTimeString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Restaurants", new { id = restaurant.Id }, null)
                    |
                    @Html.ActionLink("Delete", "Delete", "Restaurants", new { id = restaurant.Id }, null)

                </td>
            </tr>
            }
        }
    </tbody>
</table>

