@model BookATableWeb.ViewModels.ReservationsListViewModel

@{
    ViewBag.Title = "Index";
 
}

<h2>Reservations</h2>
@Html.ActionLink("Create", "Create", "Reservations")
<table class="table">

    <thead>
        <tr>
            <th>ReservationTime</th>
            <th>People Count</th>
            <th>Comment</th>
            <th>Restaurant</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.Reservation)
        {

           

                <tr>
                    <td>@reservation.ReservationTime</td>
                    <td>@reservation.PeopleCount</td>
                    <td>@reservation.Comment</td>
                    <td>@reservation.RestaurantId</td>
                    <td>@reservation.UserId</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Reservations", new { id = reservation.Id }, null)
                        |
                        @Html.ActionLink("Delete", "Delete", "Reservations", new { id = reservation.Id }, null)

                    </td>
                </tr>
            
        }
    </tbody>
</table>